form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #646cff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}

label {
  display: block;
  margin-bottom: 8px;
  color: #535bf2;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  border: none;
  padding: 12px;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #535bf2;
}
